Map/flows.json
[{"id":"595b2133.2953b","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"e0e4a8c8.d545c8","type":"function","z":"595b2133.2953b","name":"Map 3","func":"var imageBounds = [[21.00760216,105.54107720],[21.00822698,105.54237815]];\nmsg.payload = { command : { lat:21.0080737, lon:105.5419710, zoom:18 } }\nmsg.payload.command.map = {\n    overlay: \"MapIR Example\",\n    url: 'http://fawvietnam.xyz:8089/cgi-bin/qgis_mapserv.fcgi?SERVICE=WMS&REQUEST=GetMap&VERSION=1.3.0&SRS=EPSG:4326&MAP=/home/nodered/qgis/projects/solar.qgz&WIDTH=1200&HEIGHT=600&LAYERS=odm_orthophoto&FORMAT=image/png&TRANSPARENT=TRUE&BBOX=21.00760216,105.54107720,21.00822698,105.54237815',\n    bounds: imageBounds,\n    opt: { opacity:0.8, attribution:\"&copy; CITLAB-IoT System\" }\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":660,"wires":[["53aedb32.102914"]]},{"id":"b8bae6d5.d83068","type":"ui_button","z":"595b2133.2953b","name":"","group":"9e9a0494.591458","order":1,"width":0,"height":0,"passthru":false,"label":"Viện ứng dụng Công Nghệ","tooltip":"","color":"Black","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":490,"y":380,"wires":[["e0e4a8c8.d545c8"]]},{"id":"53aedb32.102914","type":"ui_worldmap","z":"595b2133.2953b","group":"9e9a0494.591458","order":1,"width":"15","height":"14","name":"Solar","lat":"","lon":"","zoom":"","layer":"Esri Satellite","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","allowFileDrop":"false","path":"/worldmap","x":1030,"y":440,"wires":[]},{"id":"9e9a0494.591458","type":"ui_group","name":"Bản đồ","tab":"46432bc7.9b1964","order":2,"disp":true,"width":"15","collapse":false},{"id":"46432bc7.9b1964","type":"ui_tab","name":"Solar","icon":"dashboard","order":1,"disabled":false,"hidden":false}]